* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(green, white);
}
.login-container {
    position: relative;
    width: 308px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0,25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: white;
}
h2 {
    margin: 1.5rem 0 2rem 0;
    text-align: center;
}
label {
    padding-left: 16px;
    opacity: 0.75;
}
.input-group {
    position: relative;
    margin-bottom: 30px;
}
.input-group input {
    width: 100%;
    padding: 15px 20px;
    background-color: #EAEEED;
    border: none;
    outline: none;
    border-radius: 35px;
    font-size: 16px;
    color: #1A1B27;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}
.input-group input::placeholder  {
    color: rgba(255, 255, 255, 0.7);
}
.input-group input:focus {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.input-group label {
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s ease;
}
.input-group input:focus + label,
.input-group input:valid + label {
    top: 0;
    left: 15px;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.2);
    padding: 2px 8px;
    color: #1A1B27;
}

button {
    padding: 12px 48px;
    border-radius: 50px;
    color: white;
    margin-top: 1rem;
    cursor: pointer;
    outline: none;
    border-width: 0;
    background-color: #1A1B27;
    font-weight: 600;
    width: 100%;
}
button:hover {
    opacity: 0.8;
}
p {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.register{
    padding-left: 5px;
    text-decoration: none;
    cursor: pointer;
    color: blue;
}
.register:hover {
    opacity: 0.8;
}